:root {
  --fuenteTitulo: "Fredoka", sans-serif;
  --fuenteTitulo2: "League Spartan", sans-serif;
}
body {
  font-family: var(--fuenteTitulo);
  color: gray;
}
a {
  color: gray;
  text-decoration: none;
}

a:hover {
  color: #0f0f62;
}
.flex {
  display: flex;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}
.align {
  display: flex;
  align-items: center;
}

.marginBottom {
  margin-bottom: 80px;
}
.marginBottomEmergency {
  margin-bottom: 40px;
}
.paddingLeft {
  padding-left: 100px;
}
/* BARRA DE NAVEGACION*/
.barraNavegacion {
  display: flex;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.472);
  position: fixed;
  width: 100%;
  height: 110px;
}
.listaMenu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-right: 0;
  width: 721px;
  align-items: center;
  font-size: 18px;
  gap: 42px;
  margin-bottom: 31px;
}

.menu1 {
  display: flex;
  align-items: center;
}

.titulo {
  color: #203cad;
  font-size: 28px;
  font-weight: 800;
  padding-left: 0px;
}
.button {
  background-color: #2849c9;
  color: white;
  width: 138px;
  height: 46px;
  border-radius: 5px;
  border-style: none;
  font-weight: 600;
  font-size: 16px;
  transition: all 200ms ease-in-out;
}
.button:hover {
  box-shadow: 9px 3px 32px -2px rgba(30, 110, 124, 0.555);
  cursor: pointer;
  transform: translateY(-5px);
}
/*HEADER*/
.headerColumn1 {
  width: 50%;
  padding-top: 170px;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 65px;
}

.h1Header {
  color: rgb(31, 62, 114);
  font-weight: 800;
  font-size: 60px;
  margin-bottom: 0px;
  font-family: var(--fuenteTitulo2);
}
.pMain {
  display: flex;
  color: black;
  font-size: 21px;
  font-weight: 500;
  padding-bottom: 7px;
}
.pMain > svg {
  margin-right: 9px;
}
.main > p:not(.pMain) {
  line-height: 27px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(63, 78, 115, 0.69);
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 9px;
}
.headerList {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 90%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #07195a;
  align-items: center;
  margin-right: 44px;
}
.headerList > div {
  display: flex;
  align-items: center;
  list-style: none;
}
.headerList > div > li {
  padding-left: 10px;
  padding-bottom: 84px;
}

.schedule {
  display: flex;
  margin-bottom: 20px;
  height: 145px;
  width: 871px;
  position: absolute;
  background-color: white;
  justify-content: space-around;
  font-size: 22px;
  color: #0f0f62;
  border-radius: 10px;
  margin-left: 142px;
  box-shadow: 7px -1px 26px 3px #b4c6d054;
}

.alignIcons {
  display: flex;
  align-items: center;
  padding-right: 19px;
  margin-top: 13px;
  margin-bottom: 0px;
}

.alignIcons > svg {
  padding-right: 9px;
}
.alignIcons > p {
  color: gray;
  font-weight: 400;
}

.scheduleP {
  margin-top: 0px;
  padding-left: 23px;
  font-weight: 200;
}
.icon {
  width: 18px;
}

.imagen {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 50%;
  margin-top: 110px;
}
.imagen > img {
  width: 100%;
}

/* MARCAS DE LABORATORIOS*/

.lab {
  width: 100%;
  height: 210px;
}

/*WHY SHOULD I VACCINE?*/
.whyVaccine {
  display: flex;
  flex-direction: column;
  padding-left: 120px;
}
.whyVaccine > h2 {
  font-size: 43px;
  color: #13336a;
  font-family: var(--fuenteTitulo2);
  margin-bottom: 22px;
}
.whyVaccine > p {
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

/*TARJETAS*/

.tarjetas {
  display: flex;
  gap: 25px;
  justify-content: center;
  margin-top: 34px;
}

.tarjeta {
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.794);
  padding: 20px;
  border: 1px solid rgba(219, 206, 206, 0.219);
  width: 200px;
  border-radius: 10px;
}

.tarjeta:hover {
  box-shadow: 5px 0px 30px -3px #94afeb9e;
  cursor: pointer;
  transform: translateY(-5px);
}
.tarjeta > svg {
  width: 39px;
}

.tarjeta > h4 {
  font-size: 22px;
  color: #0e2f68;
  font-weight: 400;
  margin-top: 0px;
}
.tarjeta > p {
  font-size: 16px;
  font-family: var(--fuenteTitulo2);
  line-height: 21px;
  color: rgba(0, 0, 0, 0.575);
}

/*PREPARATION BEFORE VACCINE*/
.flexColumn > h2 {
  font-size: 43px;
  color: #13336a;
  font-family: var(--fuenteTitulo2);
  margin-bottom: 22px;
}
.flexColumn > p {
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.preparationImage {
  width: 50%;
}
.preparationImage > img {
  height: 100%;
}

.cartas {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.carta {
  background-color: rgba(255, 255, 255, 0.794);
  border: 1px solid rgba(219, 206, 206, 0.219);
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: 448px;
  height: 59px;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  color: #1b348b;
}

.carta > h3 {
  padding-right: 135px;
}

.carta > p {
  padding-bottom: 11px;
}

.carta:hover {
  box-shadow: 5px 0px 30px -3px #94afeb9e;
  cursor: pointer;
  transform: translateY(-5px);
}

/*CONTACTOS*/

.cartasContacto {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.cartaContacto {
  background-color: rgba(255, 255, 255, 0.794);
  border: 1px solid rgba(111, 100, 100, 0.22);
  border-radius: 10px;
  width: 252px;
  height: 224px;
}
.cartaContacto > div > svg {
  width: 36px;
  padding-left: 23px;
}

.flexColumnContact {
  display: flex;
  flex-direction: column;
  padding-left: 39px;
  padding-bottom: 28px;
}

.flexColumnContact > p {
  font-size: 26px;
  margin-bottom: 12px;
  color: #203cad;
}

.flexColumnContact :nth-child(2) {
  font-size: 15px;
  margin-top: 0px;
  color: rgb(173, 165, 165);
}

.buttonContact {
  width: 199px;
  display: flex;
  justify-content: center;
  background-color: #e8dbdb91;
  color: blue;
  border-radius: 5px;
  border: none;
  height: 59px;
  margin-left: 24px;
  font-size: 19px;
  font-family: var(--fuenteTitulo);
}
.buttonContact:hover {
  color: white;
  background-color: blue;
}

.preparationImageContact {
  width: 60%;
}
.preparationImageContact > img {
  width: 100%;
}

.pL {
  padding-left: 85px;
  padding-bottom: 60px;
}

/*FOOTER*/
footer {
  background: #eef3ff;
}

.footerTitle {
  color: #203cad;
  font-size: 21px;
  font-weight: 800;
  padding-left: 0px;
}
.footerFlex {
  display: flex;
  align-content: space-around;
}
.footerFlex > p {
  width: 50%;
  justify-content: space-evenly;
  display: flex;
}

.footerMain {
  text-align: start;
  width: 50%;
  line-height: 30px;
  font-size: 16px;
}

.footerMain > div {
  padding-left: 100px;
}

.footerAside {
  display: flex;
  padding-left: 120px;
  gap: 50px;
  margin-top: 40px;
}

.footerList {
  list-style: none;
  padding-left: 0px;
  gap: 29px;
  display: flex;
  flex-direction: column;
}

.gap {
  gap: 35px;
}
