:root {
  --fuenteTitulo: "Fredoka", sans-serif;
}
.flex {
  display: flex;
}

.barraNavegacion {
  display: flex;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.472);
  position: fixed;
  width: 100%;
  height: 80px;
}
.listaMenu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-right: 0;
  width: 474px;
  align-items: center;
  font-family: var(--fuenteTitulo);
  font-size: 14px;
  color: gray;
}

.menu1 {
  display: flex;
  align-items: center;
}

.titulo {
  color: #203cad;
  font-size: 22px;
  font-weight: 800;
  font-family: var(--fuenteTitulo);
}
.button {
  background-color: #2849c9;
  color: white;
  width: 120px;
  height: 38px;
  border-radius: 5px;
  border-style: none;
  font-weight: 400;
  font-size: 13px;
  font-family: var(--fuenteTitulo);
}

.schedule {
  display: flex;
  gap: 15px;
  border: 1px solid black;
  margin-bottom: 20px;
}
.tarjetas {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.tarjeta {
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.794);
  padding: 20px;
  border: 1px solid black;
}
.icon {
  width: 15px;
}

.imagen {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 50%;
  margin-top: 80px;
}

.headerColumn1 {
  width: 50%;
  padding-top: 175px;
}
